// ** Site Header **

.site-header {

}

.wrapper {

  margin-top: $spacing-unit * 2;

}

.site-title {

  text-decoration: none;
  font-family: $title-font-family;
  font-size: $title-font-size * .75;
  font-weight: $title-font-weight;
  color: $copy-color;
  text-transform: uppercase;

}

.site-nav {

   .page-link {
      text-decoration: none;
      font-family: $label-font-family;
      font-size: $label-font-size;
      font-weight: $label-font-weight;
      color: $copy-color;

      // Gaps between nav items, but not on the last one
      &:not(:last-child) {
         margin-right: ($spacing-unit * 1.5);

         @include media-query($small-screen) {
            margin-right: ($spacing-unit);
         }
      }
   }
}



// ** Site Footer **

.site-footer {
   background: #FAFAFA;
   border-top: 1px solid $horiz-rule-color;
   padding: $spacing-unit 0;
}



// ** Page Content (Default Layout) **

.page-content {
  padding: $spacing-unit 0;
}



// ** Home **

.post-list {
   margin: 0;

   list-style: none;
}

.post-link {
   text-decoration: none;
   color: $copy-color;
}

.post-preview {

   margin-top: $spacing-unit * 2;
   margin-bottom: $spacing-unit * 2;
   padding: $spacing-unit * 2;
   padding-bottom: -5em;

   border-radius: 2px;
   box-shadow: 0 0 1.5px rgba(0,0,0,0.6);
   transition: box-shadow 0.125s ease-in-out;

   &:hover {
      box-shadow: 0 0 1.5px rgba(0,0,0,0.8);
   }

}

.separator {

  display: block;
  height: 1px;
  width: 25%;
  border: 0;
  border-top: 1px solid #000;
  margin: 0 auto;
  opacity: .05;

}

// ** Posts **

.post-meta {
   margin: 0;
   font-family: $label-font-family;
   font-size: $label-font-size * .75;
   font-weight: $label-font-weight;
   color: $label-color;
   text-transform: uppercase;
}

.post-title {
   margin-top: $spacing-unit / 2.5;
   margin-bottom: $spacing-unit / 2.5;

  font-family: $header-font-family;
  font-size: $header-font-size;
  font-weight: $header-font-weight;
  line-height: $header-font-line-height;
}

.post-excerpt {
   font-size: $body-font-size * .95;
   font-weight: $body-font-weight;
   line-height: $body-font-line-height;
}

.post-content {

   h2,h3,h4 {
      font-family: $header-font-family;
   }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 20px;
  }

  p {
     margin-top: $spacing-unit;
     margin-bottom: $spacing-unit;
  }

   a {
      color: $copy-color;
      text-decoration: none;
      border-bottom: 1px solid $label-color;

      &:hover {
         border-bottom: 1px solid $copy-color;
      }
   }

} // end .post-content
