// ** Define defaults for each variable **

// Global Colors
$background-color: #FFF !default;
$copy-color:       #1B1B1B !default;
$label-color:      lighten($copy-color, 30%) !default;
$brand-color:      #535A78 !default;
$horiz-rule-color:   #ddd;

// Body Copy
$body-font-family:   "Merriweather", sans-serif !default;
$body-font-size:     18px !default;
$body-font-weight:   400 !default;
$body-font-line-height: 1.8 !default;

// Label Copy
$label-font-family:   "Hind", sans-serif !default;
$label-font-size:     $body-font-size * .75 !default;
$label-font-weight:   900 !default;
$label-font-line-height: 1 !default;

// Header Copy
$header-font-family: "Hind", sans-serif !default;
$header-font-size:   $body-font-size * 2.6 !default;
$header-font-weight: 700 !default;
$header-font-line-height: 1.2 !default;

// Spacing
$spacing-unit:     30px !default;

// Content Width
$content-width:    800px !default;

// Media Query Content Widths
$small-screen: 600px !default;

// Media Queriies
@mixin media-query($screen-width) {
  @media screen and (max-width: $screen-width) {
    @content;
  }
}

// Mixins
@mixin border-color-trans($timing) {
  -webkit-transition: border $timing ease-in-out;
     -moz-transition: border $timing ease-in-out;
      -ms-transition: border $timing ease-in-out;
          transition: border $timing ease-in-out;
}

// Import partials.
@import
  "menjay/base",
  "menjay/layout"
;
